/* Reset default browser styles */
body, h1, h2, h3, p, ul, li, nav {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Montserrat, sans-serif;
    background-color: #000f3c; /* Dark blue background */
    color: #fff; /* White text color */
}

/* Header styles */
header {
    background-color: #000f3c; /* Dark blue header background */
    color: #fff; /* White text color */
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-bottom: 20px; /* Add space between the logo and the title */
}

.logo img {
    width: 200px; /* Adjust the width of the logo */
    height: auto; /* Maintain aspect ratio */
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links li a {
    color: #fff; /* White text color */
    text-decoration: none;
}

/* Main styles */
main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.hero {
    text-align: center;
    padding: 100px 0;
}

.hero .logo {
    margin-bottom: 20px; /* Add space between the logo and the title */
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #fff; /* Dark blue heading color */
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #0052cc; /* Medium blue text color */
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0052cc; /* Medium blue button background */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #1a75ff; /* Dark blue button background on hover */
}

/* Team section styles */
.team-section {
    text-align: center;
}

.team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allow the team members to wrap on smaller screens */
    margin-top: 20px;
}

.team-member {
    margin: 0 10px; /* Adjust spacing between team members */
}

.team-member img {
    border-radius: 50%; /* Make the image circular */
    width: 150px; /* Adjust image size */
    height: 150px; /* Adjust image size */
    display: block; /* Ensure proper display of border-radius */
    object-fit: cover; /* Maintain aspect ratio */
}

.team-member img:hover {
    opacity: 0.8; /* Dim the image slightly on hover (optional) */
}

/* Define custom accent color and secondary color */
.accent-color {
    color: #ffffff; /* Define the accent color */
}

.secondary-color {
    color: #3e66ff; /* Define the secondary color */
}
