/* Add your CSS styles here */
/* Reset default browser styles */
body, h1, h2, h3, p, ul, li, nav {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Montserrat, sans-serif;
    background-color: #000c44; /* Dark blue background */
    color: #fff; /* White text color */
    text-align: center; /* Center align the content */
}

.scroll-container {
    height: 50vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

/* Header styles */
header {
    background-color: #000c44; /* Dark blue header background */
    color: #fff; /* White text color */
    position: fixed; /* Set the header to have a fixed position */
    width: 100%; /* Make the header take up the full width of the viewport */
    top: 0; /* Position the header at the top of the viewport */
    z-index: 1000; /* Ensure the header is above other content */

}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    align-items: center;
    margin: 0 auto;
    padding: 0 0px;
}

.logo {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-bottom: 20px; /* Add space between the logo and the title */
}

.logo img {
    width: 100px; /* Adjust the width of the centered logo */
    height: auto; /* Maintain aspect ratio */
}

.center-logo {
    margin-bottom: 10px; /* Add space between the logo and the title */
}

.center-logo img {
    width: 500px; /* Adjust the width of the centered logo */
    height: 500px; /* Maintain aspect ratio */
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links li a {
    color: #fff; /* White text color */
    text-decoration: none;
}

/* Main styles */
main {
    margin: 20px auto;
    padding: 0 70px;
    text-align: center; /* Center align the content */
}

.hero {
    margin: auto;
    width: 80%;
    text-align: center;
    padding: 50px;
    scroll-snap-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #fff; /* Dark blue heading color */
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #fff; /* Medium blue text color */
}

.overview-section {
    margin: auto;
    width: 80%;
    height: 50vh;
    /* make element inline flex-container */
    /* this will make its children flex-items */
    display: inline-flex;
    /* align-items items in column */
    flex-direction: column;
    /* center items horizontally */
    align-items: center;
    /* center items vertically */
    justify-content: center;
    text-align: center;
    padding: 50px;
    scroll-snap-align: center;
}


.overview-section p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #fff; /* Medium blue text color */
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0052cc; /* Medium blue button background */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #1a75ff; /* Dark blue button background on hover */
}

/* Team section styles */
.team-section {
    height: 50vh;
    padding: 50px;
    margin: auto;
    /* make element inline flex-container */
    /* this will make its children flex-items */
    display: inline-flex;
    /* align-items items in column */
    flex-direction: column;
    /* center items horizontally */
    align-items: center;
    /* center items vertically */
    justify-content: center;
    scroll-snap-align: center;
    background-image: url('https://raw.githubusercontent.com/cleemazzulla/chatcompAnIon/main/Blue Modern Company Slogan LinkedIn Banner (1).png'); /* Replace 'background_image.jpg' with the actual name of your image file */
    background-size: cover; /* Adjusts the size of the background image to cover the entire container */
    background-position: center; /* Centers the background image within the container */
    width: 100%;
}

.team-section p {
    font-size: 15px; /* Adjust the font size as needed */
    color: #ffff; /* Adjust the text color as needed */
    margin-top: 10px; /* Adjust the top margin as needed */
}


.team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allow the team members to wrap on smaller screens */
    margin-top: 20px;
    margin-bottom: 10px; /* Add space between the logo and the title */
}

.team-member {
    margin: 0 10px; /* Adjust spacing between team members */
    text-align: center; /* Center align the content */
}

.team-member img {
    border-radius: 50%; /* Make the image circular */
    width: 150px; /* Adjust image size */
    height: 150px; /* Adjust image size */
    object-fit: cover; /* Maintain aspect ratio */
    flex: 0 0 auto; /* Ensures images don't grow or shrink */
}

.team-member img:hover {
    opacity: 0.8; /* Dim the image slightly on hover (optional) */
}

.member-info {
    margin-top: 10px; /* Add space between the image and name */
}

.product-section {
    position: relative;
    max-width: 1000px;
    height: 50vh;
    margin: auto;
    padding: 50px;
    scroll-snap-align: center;
}

.productSlides {
    display: none;
}

.productSlides iframe {
    height: 100%;
    width: 100%;
}

.productSlides img {
    height: 100%;
    width: 100%;
}


.technical-approach-section {
    /* make element inline flex-container */
    /* this will make its children flex-items */
    display: inline-flex;
    /* align-items items in column */
    flex-direction: column;
    /* center items horizontally */
    align-items: center;
    /* center items vertically */
    justify-content: center;
    height: 50vh;
    padding: 50px;
    scroll-snap-align: center;
    background-image: url('https://raw.githubusercontent.com/cleemazzulla/chatcompAnIon/main/blue_background.jpg'); /* Replace 'background_image.jpg' with the actual name of your image file */
    background-size: cover; /* Adjusts the size of the background image to cover the entire container */
    background-position: center; /* Centers the background image within the container */
    width: 100%;
}

.other-resources-section {
    /* make element inline flex-container */
    /* this will make its children flex-items */
    display: inline-flex;
    /* align-items items in column */
    flex-direction: column;
    /* center items horizontally */
    align-items: center;
    /* center items vertically */
    justify-content: center;
    height: 50vh;
    padding: 50px;
    scroll-snap-align: center;
}

.contact-section {
    /* make element inline flex-container */
    /* this will make its children flex-items */
    display: inline-flex;
    /* align-items items in column */
    flex-direction: column;
    /* center items horizontally */
    align-items: center;
    /* center items vertically */
    justify-content: center;
    height: 50vh;
    padding: 50px;
    background-image: url('https://raw.githubusercontent.com/cleemazzulla/chatcompAnIon/main/Blue Modern Company Slogan LinkedIn Banner.png'); /* Replace 'background_image.jpg' with the actual name of your image file */
    background-size: cover; /* Adjusts the size of the background image to cover the entire container */
    background-position: center; /* Centers the background image within the container */
    width: 100%;
    scroll-snap-align: center;
}

.title {
    color: #333; /* Default color for the text */
}

.highlight {
    color: #5271ff; /* Color for the highlighted letters */
}

.type-input {
  font-size: 16px;
  align-items: center;
  padding: 0.5rem;
  text-align: center;
  border-color: #F2F4F6;;
  border-radius: 1rem 1rem 1rem 1rem;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "prev button" to the left */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.overview-section p strong {
    color: #5271ff; /* Change to your desired color */
    font-size: 24px; /* Change to your desired font size */
}

/* Video container styles */
.video-container {
    margin-top: 100px; /* Adjust the margin to create space between the banner and the video */
    padding-bottom: 20px; /* Add padding to the bottom to prevent overlay */
}
/* footer styles */
footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  line-height: 60px; /* Vertically center the text there */
  background-color: ##f5f5f5;
}

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
